# macOS
.DS_Store
node_modules/
.next/
.strapi/
.strapi-updater.json
.tamagui/
build/
dist/
coverage/
.env
.env.*
!.env.example
*.tsbuildinfo

# JetBrains IDEs
.idea/

# Python cache files
__pycache__/
*.py[cod]
